@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', 
    sans-serif;
    margin: auto;
    text-align: center;
}
:root {
    --primary-color: #10b981;
}

.navigation {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
}

.heading {
    color: white;
    padding: 1.5rem;
    font-size: 30px;
}

.description {
    max-width: 45%;
    margin: auto;
    padding-bottom: 1.4rem;
}

label {
    font-weight: bold;
    color: var(--primary-color);
    font-size: large;
}

input {
    display: block;
    margin: 1rem auto;
    width: 20%;
    height: 2rem;
}

button {
    padding: 0.7rem;
    background-color: var(--primary-color);
    border-radius: 1rem;
    font-size: medium;
    cursor: pointer;
}

#error-message {
    font-weight: bold;
}

table {
    margin: auto;
    border-color: var(--primary-color);
}

caption {
    padding: 1.5rem;
    color: var(--primary-color);
    font-weight: bold;
    font-size: large;
}

th,
td {
  border: 2px solid var(--primary-color);
  padding: 1rem;
  border-radius: 1rem;
}





